header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    align-items: center;
    display: flex;
}

header .logo {
    background-image: url(/home/semkufu/swe/AirBnB_clone/web_static/images/logo.png);
    margin-left: 20px;
    display: flex;
    align-items: center;

}
